<img class="imgIntro" src="../../assets/intro.JPG" alt="">
<br>
<div class="container">
  <br>

  <div class="row">
    <div class="col-sm-6">
      <p style="font-size: 30px;text-align: left;">INTRODUCTION</p>
      <br>
      <p>
        Republic of Moldova is very much dependent of fossil fuels and imports of energy.
        <br>
        <br>​ In order to provide state energy security and to comply with the Renewable Energy Directive 2009/28/CE, The Government
        has developed the Law No.10 from 26.02.2016 “Promoting the use of energy from Renewable Energy Sources” which will
        come into force on 25 of March 2018.
        <br> ​
        <br> Moldovan Government has defined to reduce the imports of energy by increasing the share of renewable energy with
        17 % up to 2020 from the final gross energy consumption.
        <br>
        <br> According to the Law on RE, through tendering procedures will be selected suppliers which will be contracted by
        energy distribution companies. Taking into consideration that The Republic of Moldova has potential in wind energy,
        and, energy production from wind is the most cost-effective at the moment, it is expected that mainly all renewable
        energy injected into electricity grid will come from wind power. This may cause an imbalance inside the grid or significant
        limitation of energy produced from RE sources like solar and wind, because distribution of energy is made according
        to the demand. The system may be balanced through hydro power plants or through cogeneration units. The potential
        of hydro power in The Republic of Moldova is very small, thus, the best solution to solve this situation is to produce
        biogas and through cogeneration units to balance the National electricity grid.
      </p>
    </div>

    <div class="col-sm-5">

      <img class="imgFla" src="../../assets/flag.JPG" alt="">
      <br>
      <br>
      <p style="background-color:#e5fad1; font: italic;  width: 491px; ">
        Lacuna-cheie a eficienței în Moldova este că între fermieri informația despre cosubstrate este necunoscută sau nu este disponibilă
        deloc.
        <br>
        <br> O altă lacună este transparența și performanță redusă a asociațiilor de fermieri și a unităților publice.
        <br>
        <br> Astfel, noi lucrăm privind identificarea, înregistrarea, evaluarea și gestionarea altor surse de deșeuri organice.
      </p>
    </div>
  </div>
  <br>
  <br>
  <p style="font-size:30px; text-align: center">PARTNER</p>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <img src="../../assets/Gottingen.JPG" alt="">
    </div>
    <div class="col-sm-2">
      <img src="../../assets/cee.JPG" alt="">
    </div>
    <div class="col-sm-2">
      <img src="../../assets/kfw.JPG" alt="">
    </div>
    <div class="col-sm-2">
      <img src="../../assets/spelleken.JPG" alt="">
    </div>
    <div class="col-sm-2">
      <img src="../../assets/Biogas.JPG" alt="">
    </div>
    <div class="col-sm-2">
      <img src="../../assets/aee.JPG" alt="">
    </div>
  </div>
</div>