<div class="containers">
  <h2>
    <mat-icon color="accent">info</mat-icon> <span translate="new_energy-waste-owners-header">Waste Owners</span>
  </h2>
  <button *ngIf="ROLE == 'ROLE_ADMIN'" mat-raised-button color="accent" (click)="newWasteOwner()">
      <mat-icon>add</mat-icon>
    </button>
  <hr>
  <mat-form-field>
    <input placeholder="Search" matInput #input (keyup)='searchElements(input.value)'>
  </mat-form-field>
  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Sort by Name asc or desc"> 
          <span translate="new_energy-name">Name</span> 
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="surName">
        <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Sort by surName asc or desc"> 
          <span translate="new_energy-surname">SurName </span></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.surName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Sort by company Name asc or desc">
          <span translate="new_energy-company-name"> Company name</span> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Sort by address asc or desc">
          <span translate="new_energy-address"> Address</span> </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef>
          <span translate="new_energy-contact"> Contact</span> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <table>
            <tr>
              <td>
                Telephone: {{element.contact.telephone}}
              </td>
            </tr>
            <tr>
              <td>
                Mobile: {{element.contact.mobile}}
              </td>
            </tr>
            <tr>
              <td>
                E-mail: {{element.contact.email}}
              </td>
            </tr>
          </table>
        </mat-cell>

      </ng-container>
      <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef matTooltip="Manage content">
              <span translate="new_energy-actions"> Actions </span>     
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button (click)="editWasteOwner(row)" color="accent"  matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="mapView(row.id)" color="primary"  matTooltip="Map">
              <mat-icon>explore</mat-icon>
            </button>
            <button mat-button (click)="deleteWasteOwner(row.id)" color="warn" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]">
    </mat-paginator>
  </div>
</div>