
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="true">
    
  <form #filterForm="ngForm">
    <div class="example-container">
    <mat-checkbox [checked]="" [(ngModel)]="filterData.inFuture" 
      name="inFuture"
      #inFuture="ngModel">
  <span translate="new_energy-waste-in-future">Waste in future</span>
  </mat-checkbox><hr>
  <div *ngFor="let wt of filterData.wasteTypeSearch ; let i = index">
      <table>
        <tr>
          <td>
              <mat-checkbox [checked]="wt.search" [(ngModel)]="filterData.wasteTypeSearch[i].search" 
              name="wt{{i+1}}"
              #wasteType="ngModel">
            <span *ngIf="Language == 'en'"> {{wt.wasteType.en}}</span>  <span *ngIf="Language == 'ro'">{{wt.wasteType.ro}} </span>
            </mat-checkbox>
          </td>
          <td align="right">
              <input type="color" value="{{wt.color}}" disabled>
          </td>
        </tr>
      </table>

  </div>
  <br> 
  </div>
        <div  align="end">
          <button color="accent" 
          mat-raised-button  (click)="FilterSearch()">
            <mat-icon>search</mat-icon>
          </button>
        
        </div>
  </form>
    <br>
        <table class="table">    
          <tbody>
              <tr>
                  <td>
                      <span translate="new_energy-totalGasVolume">Total Gas</span>:
                  </td>
                  <td>
                      <strong>{{TotalgasVolume | number }} m<sup>3</sup></strong>
                  </td>
               </tr>
               <tr>
                 <td>
                    <span translate="new_energy-totalSumAmount">Total sum</span>:
                 </td>
                  <td>
                      <strong> {{TotalSum | number}} kg</strong>
                  </td>
               </tr>
               <tr>
                 <td>
                    <span translate="new_energy-Totalpower">Total power</span>:
                 </td>
                  <td>
                      <strong>{{TotalPower | number}} KWh</strong>
                  </td>
                </tr>
          </tbody>
      </table>

  </mat-sidenav>
  <table><tr>
  <td style="width:2%;vertical-align:top;padding-left:0.5%">
    <button mat-mini-fab (click)="sidenav.toggle()" matTooltip="Map Options">
        <mat-icon>swap_horiz</mat-icon>
      </button>
    </td>
    <td class="row">
    <mat-tab-group >
      <mat-tab label="Map view">
        <agm-map #AgmMap [latitude]="latitude" [longitude]="longitude" [maxZoom]="14" [zoom]="zoom"
        [fullscreenControl]='true' [mapTypeControl]='true'>
          <div *ngFor="let i of localOwnerLocations">
            <agm-marker *ngIf="i.active"  [latitude]="i.latitude" [longitude]="i.longitude"></agm-marker>
          </div>
          <!--div id="map">
            <agm-marker-cluster [maxZoom]="16" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m" >
            <agm-marker  *ngFor="let activeWaste of activeWasteData; trackBy: insertMarker"
                        (markerClick)="clickedMarker(activeWaste.location.description, i)"
                        [latitude]="activeWaste.location.latitude"
                        [longitude]="activeWaste.location.longitude">
              
              <agm-info-window>
  
                <table>
                  <tr>
                    <td>
                      <span translate="new_energy-waste-owner-header">Waste owner </span>:
                      <strong>{{activeWaste.wasteOwnerData.name}} {{activeWaste.wasteOwnerData.surName}}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span translate="new_energy-location">Location </span>:
                      <strong>{{activeWaste.location.description}}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span translate="new_energy-waste-type-header"> waste Type</span>:
                      <strong>{{activeWaste.wasteType.wasteType}}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span translate="new_energy-amount">Amount</span>:
                      <strong>{{activeWaste.wasteDataEntry.amount}} kg</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span translate="new_energy-valid-from"> Valid from</span>:
                      <strong>{{activeWaste.wasteDataEntry.validityDateStart | date: 'dd/MM/yyyy'}}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span translate="new_energy-expire-date"> Expire date</span>:
                      <strong>{{activeWaste.wasteDataEntry.validityDateEnd | date: 'dd/MM/yyyy'}}</strong>
                    </td>
                  </tr>
                </table>
              </agm-info-window>
            </agm-marker>
            </agm-marker-cluster>
          </div--> 
        </agm-map>
      </mat-tab>
      <mat-tab translate="new_energy-grid-view" label="Grid view"  >
          <div class="containers">
        

              <mat-table #table [dataSource]="dataSource" matSort>
      
                  <ng-container matColumnDef="wasteOwner">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-waste-owner-header">Waste owner </span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <table>
                              <tr>
                                  <td>
                                    <span translate="new_energy-name">Name</span>: 
                                         {{element.wasteOwnerData.name}},
                                         {{element.wasteOwnerData.surName}}
                                  </td>
                              </tr> 
                            
                              <tr>
                                  <td>
                                    <span translate="new_energy-address">Address</span>: {{element.wasteOwnerData.address}}
                                  </td>
                              </tr>
                          </table>
                      </mat-cell>
                  </ng-container>
      
                  <ng-container matColumnDef="location">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-location">Location </span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.location.description}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-amount">Amount</span>(kg)
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.wasteDataEntry.amount}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="wasteType">
                      <mat-header-cell *matHeaderCellDef> 
                        <span translate="new_energy-waste-type-header">Waste Type</span> </mat-header-cell>

                          <mat-cell  *matCellDef="let element"> 
                              <span *ngIf="Language == 'ro'">{{element.wasteType.wasteType.ro}}</span>
                              <span *ngIf="Language == 'en'">{{element.wasteType.wasteType.en}}</span>
                          </mat-cell>
                        
                    
                    </ng-container>
                  <ng-container matColumnDef="validityDate">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-validityDate">Validity</span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <table>
                              <tr>
                                  <td>
                                          <span translate="new_energy-valid-from"> Valid from</span>: {{element.wasteDataEntry.validityDateStart | date: 'dd/MM/yyyy'}}
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                          <span translate="new_energy-expire-date"> Expire date</span>: {{element.wasteDataEntry.validityDateEnd | date: 'dd/MM/yyyy'}}
                                  </td>
                              </tr>
                          </table>
                      </mat-cell>
                  </ng-container>
      
                  <ng-container matColumnDef="actionsColumn">
                    <mat-header-cell *matHeaderCellDef matTooltip="Manage content">
                        <span translate="new_energy-actions"> Actions </span>     
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-button (click)="editWasteData(row.wasteDataEntry.id)" color="accent"  matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-button (click)="deleteWasteData(row.wasteDataEntry.id)" color="warn" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
      
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
              </mat-paginator>
              </div>
        
      </mat-tab>
      <mat-tab label="Energy view">
          <div class="containers">
        

              <mat-table #energyViewTable [dataSource]="energyviewSource" matSort>
                  <ng-container matColumnDef="count">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-locations">Locations</span>
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
                  </ng-container>  

                  <ng-container matColumnDef="wasteType">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-waste-type-header">Waste type </span>
                      </mat-header-cell>
                          <mat-cell  *matCellDef="let element"> 
                              <span *ngIf="Language == 'ro'">{{element.wasteType.wasteType.ro}}</span>
                              <span *ngIf="Language == 'en'">{{element.wasteType.wasteType.en}}</span>
                          </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="sumAmount">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-sumAmount" >Amount </span>(kg)
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element" > {{element.sumAmount}} </mat-cell>
                  </ng-container>
               
                    <ng-container matColumnDef="gasVolume">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-gasVolume">Gas volume</span>(m<sup>3</sup>)
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.gasVolume | number}} </mat-cell>
                  </ng-container>   

                  <ng-container matColumnDef="power">
                      <mat-header-cell *matHeaderCellDef>
                          <span translate="new_energy-power">Power</span>(kWh)
                      </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.kw | number }}  </mat-cell>
                  </ng-container>           
                  <ng-container>

                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedEnergyViewColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedEnergyViewColumns;"></mat-row>
              </mat-table>
          </div>
        
      </mat-tab>
    </mat-tab-group>
  </td></tr></table>
  </mat-sidenav-container>