<div class="container" style="text-align:center">
  <a href="http://localhost:8080/swagger-ui.html"><button >swagger ui</button></a>
     <h2>Owner retrieved from DB: </h2>
   <table class="table table-hover" >
       <thead>
           <tr>
               <th>id</th>
               <th>first name</th>
               <th>last name</th>
               <th>location</th>
               <th>bio waste type</th>
               <th>contact</th>
           </tr>
       </thead>
       <tbody *ngFor="let li of list">
           <tr>
               <td> {{li.id}}</td>
               <td> {{li.firstName}}</td>
               <td>{{li.lastName}}</td>
               <td>{{li.location}}</td>
               <td>{{li.biowasteTypeOutput}}</td>
               <td> contact 1:{{li.contact.number1}}<br>
                  contact 2:{{li.contact.number2}}<br>
                  email address:{{li.contact.ownerEmail}}</td>
              
              </tr>
     </table>
   
   
  
  
 </div>