<mat-toolbar color="primary">
  <h2>
    <mat-icon color="accent">create</mat-icon>
    <span translate="new_energy-waste-owner-header">Waste owner</span>
  </h2>
</mat-toolbar>
<form #newOwnerForm="ngForm">
  <div class="example-container">
    <hr>
    <mat-label translate="new_energy-form-baseinfo">Base information</mat-label>
    <br>

    <div>
      <mat-form-field style="width: 48%">
        <mat-label translate="new_energy-name">Name</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.wasteOwnerData.name" 
               name="name" 
               #name="ngModel" maxlength="32" 
               required >
      </mat-form-field>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger" 
            translate="new_energy-form-req-name">
        Name is required!
      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field style="width: 48%">
        <mat-label translate="new_energy-surname">SurName</mat-label>
        <input matInput
               [(ngModel)]="data.localWasteOwner?.wasteOwnerData.surName"
               name="surName" 
               #surName="ngModel" maxlength="32"  
               required >
      </mat-form-field>
      <div [hidden]="surName.valid || surName.pristine" class="alert alert-danger" 
           translate="new_energy-form-req-surname">
        SurName is required!
      </div>
    </div>
    <mat-form-field>
      <mat-label translate="new_energy-company-name">Company name</mat-label>
      <input matInput 
             [(ngModel)]="data.localWasteOwner?.wasteOwnerData.companyName" 
             name="companyName" 
             #companyName="ngModel" maxlength="128" >
    </mat-form-field>
    <div [hidden]="companyName.valid || companyName.pristine" class="alert alert-danger" 
         translate="new_energy-form-req-companyName">
      companyName is required!
    </div>
    <mat-form-field>
      <mat-label translate="new_energy-address">Address</mat-label>
      <input matInput 
             [(ngModel)]="data.localWasteOwner?.wasteOwnerData.address" 
             name="address" #address="ngModel" maxlength="128" 
             required >
    </mat-form-field>
    <div [hidden]="address.valid || address.pristine" class="alert alert-danger" 
         translate="new_energy-form-req-address">
      Address is required!
    </div>
    <div>
      <mat-form-field style="width: 48%">
        <mat-label translate="new_energy-telephone">Telephone</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.wasteOwnerData.contact.telephone" 
               name="telephone" #telephone="ngModel" maxlength="30" >
      </mat-form-field>
      <div [hidden]="telephone.valid || telephone.pristine" class="alert alert-danger" 
           translate="new_energy-form-req-telephone">
        Telephone is required!
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field style="width: 48%">
        <mat-label translate="new_energy-mobile">Mobile</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.wasteOwnerData.contact.mobile"
                name="mobile" #mobile="ngModel" maxlength="30" 
                required >
      </mat-form-field>
      <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger" 
           translate="new_energy-form-req-mobile">
        Mobile is required!
      </div>
    </div>
    <mat-form-field>
      <mat-label translate="new_energy-email">E-mail</mat-label>
      <input matInput
             [(ngModel)]="data.localWasteOwner?.wasteOwnerData.contact.email" 
             type="email"
             name="email" #email="ngModel" 
             email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
             required >
    </mat-form-field>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger" 
         translate="new_energy-form-req-email">
      E-mail is required and format should be 'email@example.com'
    </div>
    <hr>
    <mat-label translate="new_energy-locations">Locations</mat-label>
    <div align="right">
      <button type="button" mat-mini-fab (click)="addLocations()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="example-container" *ngFor="let field of data.localWasteOwner?.locations; let i = index">
      <mat-label><span translate="new_energy-location">Location</span> {{i+1}}</mat-label>
      <div>
      <mat-form-field style="width: 32%">
        <mat-label translate="new_energy-description">Description</mat-label>
        <textarea matInput 
                  [(ngModel)]="data.localWasteOwner?.locations[i].description"
                   name="description{{i+1}}" #description="ngModel"  maxlength="128"
                  required >
      </textarea>
    </mat-form-field>
      <div [hidden]="description.valid || description.pristine" class="alert alert-danger" 
           translate="new_energy-form-req-description">
        Description is required!
      </div>
      &nbsp;
      <mat-form-field style="width: 32%">
        <mat-label translate="new_energy-latitude">Latitude</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.locations[i].latitude"
               type="number" 
               name="latitude{{i+1}}" 
               #latitude="ngModel" 
               required >
              </mat-form-field>
      <div [hidden]="latitude.valid || latitude.pristine" class="alert alert-danger" 
      translate="new_energy-form-req-latitude">
        Latitude is required!
      </div>
      &nbsp;
      <mat-form-field style="width: 32%">
        <mat-label translate="new_energy-longitude">Longitude</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.locations[i].longitude" 
               type="number"
               name="longitude{{i+1}}" 
               #longitude="ngModel"  
               required >
      </mat-form-field>
      <div [hidden]="longitude.valid || longitude.pristine" class="alert alert-danger" 
      translate="new_energy-form-req-longitude">
        Longitude is required!
      </div>
      </div>
      <div align="right">
        <button type="button" align="right" color="warn" 
                mat-mini-fab mat-raised-button class="destroy-button" 
                (mousedown)="deleteLocation($event, item)"
                (touchstart)="deleteLocation($event, item)" >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <hr>
    <div>
    <mat-label translate="new_energy-users-header">Users</mat-label>
    <div align="right">
      <button type="button" mat-mini-fab (click)="addUsers()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  
    <div  class="example-container" *ngFor="let field of data.localWasteOwner?.users; let i = index">
      <mat-label><span translate="new_energy-user-header">User</span> {{i+1}}</mat-label>
      <mat-form-field>
        <mat-label translate="new_energy-username">Username</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.users[i].userName" 
               [disabled]="!data.localWasteOwner?.users[i].enableUsername"
               name="userName{{i+1}}" #userName="ngModel" 
               minlength="5" maxlength="32" 
               required >
      </mat-form-field>
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger"
           translate="new_energy-form-req-username">
        UserName is required! (minimum 5 characters)
      </div>
      <mat-form-field>
        <mat-label translate="new_energy-password">Password</mat-label>
        <input matInput 
              [(ngModel)]="data.localWasteOwner?.users[i].password" type="password"
              name="password{{i+1}}" #password="ngModel" 
              minlength="8" maxlength="32"
              required >
      </mat-form-field>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger"
           translate="new_energy-form-req-password">
        Password is required!
      </div>
      <mat-form-field>
        <mat-label translate="new_energy-confirmPassword">Confirm Password</mat-label>
        <input matInput 
               [(ngModel)]="data.localWasteOwner?.users[i].confirmPassword" type="password"
               name="confirmPassword{{i+1}}" 
               validateEqual="password"
               #confirmPassword="ngModel"
               maxlength="32" 
               required >
      </mat-form-field>
      <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger" 
           translate="new_energy-form-req-confirmPassword">
        Password mismatch!
      </div>
      <div align="right">
        <button type="button" align="right" color="warn" 
                mat-mini-fab mat-raised-button class="destroy-button" 
                (mousedown)="deleteUsers($event, item)"
                (touchstart)="deleteLogins($event, item)" >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
    <hr>

    <hr>
  </div>
  <div mat-dialog-actions align="end">
      <button color="accent" [disabled]="!newOwnerForm.form.valid" 
              mat-raised-button [mat-dialog-close]="true" 
              (click)="SaveAndClose()">
       <mat-icon>done</mat-icon>
     </button>
    &nbsp; &nbsp;
    <button  color="warn" 
             mat-raised-button 
             (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
  </div>
</form>