<mat-toolbar color="primary">
  <h2>
    <mat-icon color="accent">create</mat-icon>
    <span translate="new-waste-user-head">Waste User</span>
  </h2>
</mat-toolbar>
<form #wasteUserForm="ngForm">
  <div class="example-container">
    <hr>
    <mat-label translate="new-waste-user-base">Base information</mat-label>
    <br>

    <div>
      <mat-form-field style="width: 48%">
        <mat-label translate="new-waste-user-name">Name</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.name" required name="name" #name="ngModel" maxlength="30" #nameCount>
        <mat-hint align="end">{{ nameCount.value.length }} / 30</mat-hint>
      </mat-form-field>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger" translate="new-waste-user-req-name">
        Name is required!
      </div>

      &nbsp;&nbsp;
      <mat-form-field style="width: 48%">
        <mat-label translate="new-waste-user-sname">SurName</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.surName" required name="surName" #surName="ngModel" maxlength="30" #surNamecharacterCount>
        <mat-hint align="end">{{ surNamecharacterCount.value.length }} / 30</mat-hint>
      </mat-form-field>
      <div [hidden]="surName.valid || surName.pristine" class="alert alert-danger" translate="new-waste-user-req-sname">
        SurName is required!
      </div>
    </div>
    <mat-form-field>
      <mat-label translate="new-waste-user-cname">Company name</mat-label>
      <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.companyName" required name="companyName" #companyName="ngModel" maxlength="30" #companyNameCount>
      <mat-hint align="end">{{ companyNameCount.value.length }} / 30</mat-hint>
    </mat-form-field>
    <div [hidden]="companyName.valid || companyName.pristine" class="alert alert-danger" translate="new-waste-user-req-cname">
      companyName is required!
    </div>
    <mat-form-field>
      <mat-label translate="new-waste-user-address">Address</mat-label>
      <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.address" required name="address" #address="ngModel" maxlength="30" #addresscharacterCount>
      <mat-hint align="end">{{ addresscharacterCount.value.length }} / 30</mat-hint>
    </mat-form-field>
    <div [hidden]="address.valid || address.pristine" class="alert alert-danger" translate="new-waste-user-req-address">
      Address is required!
    </div>
    <div>
      <mat-form-field style="width: 48%">
        <mat-label translate="new-waste-user-telephone">Telephone</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.contact.telephone" name="telephone" #telephone="ngModel" maxlength="15" #telephonecharacterCount>
        <mat-hint align="end">{{ telephonecharacterCount.value.length }} / 16</mat-hint>
      </mat-form-field>
      <div [hidden]="telephone.valid || telephone.pristine" class="alert alert-danger" translate="new-waste-user-req-telephone">
        Telephone is required!
      </div>
      &nbsp;&nbsp;
      <mat-form-field style="width: 48%">
        <mat-label translate="new-waste-user-mobile">Mobile</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.contact.mobile" required name="mobile" #mobile="ngModel" maxlength="15" #mobilecharacterCount>
        <mat-hint align="end">{{ mobilecharacterCount.value.length }} / 16</mat-hint>
      </mat-form-field>
      <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger" translate="new-waste-user-req-mobile">
        Mobile is required!
      </div>
    </div>
    <mat-form-field>
      <mat-label translate="new-waste-owner-email">Email</mat-label>
      <input matInput [(ngModel)]="data.localWasteUser?.wasteUserData.contact.email" type="email" required name="email" #email="ngModel" 
      #emailcharacterCount email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">

    </mat-form-field>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger" translate="new-waste-owner-req-email">
      Email is required and format should be 'john@doe.com'
    </div>
    <hr>
  
      <div class="example-container" *ngFor="let field of data.localWasteUser?.locations; let i = index">
        <mat-label translate="new-waste-user-locationN">Location </mat-label>
        <mat-form-field>
          <mat-label translate="new-waste-owner-description">Description</mat-label>
          <textarea matInput [(ngModel)]="data.localWasteUser?.locations[i].description" name="description{{i+1}}" #description="ngModel" required maxlength="50"
            #descriptioncharacterCount></textarea>
  
          <mat-hint align="end">{{ descriptioncharacterCount.value.length }} / 50</mat-hint>
        </mat-form-field>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger" translate="new-waste-owner-req-description">
          Description is required!
        </div>
        <mat-form-field>
          <mat-label translate="new-waste-owner-latitude">Latitude</mat-label>
          <input matInput [(ngModel)]="data.localWasteUser?.locations[i].latitude" name="latitude{{i+1}}" #latitude="ngModel" required maxlength="50" #latitudecharacterCount>
  
          <mat-hint align="end">{{ latitudecharacterCount.value.length }} / 50</mat-hint>
        </mat-form-field>
        <div [hidden]="latitude.valid || latitude.pristine" class="alert alert-danger" translate="new-waste-owner-req-latitude">
          Latitude is required!
        </div>
        <mat-form-field>
          <mat-label translate="new-waste-owner-longitude">Longitude</mat-label>
          <input matInput [(ngModel)]="data.localWasteUser?.locations[i].longitude" name="longitude{{i+1}}" #longitude="ngModel" required maxlength="50"
            #longitudecharacterCount>
  
          <mat-hint align="end">{{ longitudecharacterCount.value.length }} / 50</mat-hint>
        </mat-form-field>
        <div [hidden]="longitude.valid || longitude.pristine" class="alert alert-danger" translate="new-waste-owner-req-longitude">
          Longitude is required!
        </div>
      </div>
      
    <hr>
    <mat-label translate="new-waste-owner-users">Users</mat-label>
    <div align="right">
      <button type="button" mat-mini-fab (click)="addUsers()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="example-container" *ngFor="let field of data.localWasteUser?.users; let i = index">
      <mat-label translate="new-waste-owner-userN">User {{i+1}}</mat-label>
      <mat-form-field>
        <mat-label translate="new-waste-owner-username">Username</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.users[i].userName" name="userName{{i+1}}" #userName="ngModel" 
        required minlength="5" maxlength="50" #userNamecharacterCount>

        <mat-hint align="end">{{ userNamecharacterCount.value.length }} / 50</mat-hint>
      </mat-form-field>
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger" translate="new-waste-owner-req-username">
        UserName is required! (minimum 5 characters)
      </div>
      <mat-form-field>
        <mat-label translate="new-waste-owner-password">Password</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.users[i].password" name="password{{i+1}}" #password="ngModel" 
        required minlength="5" maxlength="50" #passwordcharacterCount>

        <mat-hint align="end">{{ passwordcharacterCount.value.length }} / 50</mat-hint>
      </mat-form-field>
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger" translate="new-waste-owner-req-password">
        Password is required!
      </div>
      <mat-form-field>
        <mat-label translate="new-waste-owner-confirmP">Confirm Password</mat-label>
        <input matInput [(ngModel)]="data.localWasteUser?.users[i].confirmPassword" name="confirmPassword{{i+1}}" 
        validateEqual="password"
        #confirmPassword="ngModel" required
          maxlength="50" #confirmPasswordcharacterCount>

        <mat-hint align="end">{{ confirmPasswordcharacterCount.value.length }} / 50</mat-hint>
      </mat-form-field>
      <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger" translate="new-waste-owner-req-confirmP">
        Password mismatch!
      </div>
      <div align="right">
        <button type="button" align="right" color="warn" mat-mini-fab mat-raised-button class="destroy-button" (mousedown)="deleteUsers($event, item)"
          (touchstart)="deleteLogins($event, item)" matTooltip="Delete user {{i+1}}">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <hr>

    <hr>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onNoClick()" matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>

    &nbsp; &nbsp;
    <button color="accent" [disabled]="!wasteUserForm.form.valid" mat-raised-button [mat-dialog-close]="data" 
     (click)="SaveAndClose()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</form>