<br>
<br>
<div class="signin-content">
  <mat-card>
    <mat-toolbar color="primary">
      <h2>
        <p translate="new_energy-login-header">Please login to continue</p>
      </h2>
    </mat-toolbar>
    <hr>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">

        <mat-form-field class="full-width-input">
          <mat-label translate="new_energy-username">Username</mat-label>
          <input matInput formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')" translate="new_energy-form-req-username">
            Username is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label translate="new_energy-password">Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')" translate="new_energy-form-req-password">
            Password is required!
          </mat-error>
        </mat-form-field>
        <div *ngIf="isloggedErr$ | async" translate="new_energy-login-error" class="alert alert-danger">
          Wrong username or password!
        </div>
        <hr>
        <button autofocus mat-raised-button color="accent" type="submit">
          <span translate="new_energy-Login">Login</span>
        </button>
        &nbsp;
      </form>
    </mat-card-content>
  </mat-card>
</div>