p {
    color: black;
    font-size: 18px;
    text-align: left;
    font-family: 'Alegreya Sans';
}
  img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;    
  }
  .col-sm-2 {
    text-align: center;
    font-size: 15px;
    width: 227px;
    height: 274px;
    border: 20px  solid white;
    background-color:#e5fad1;
  }
  #energyc {
    background-color:#e5fad1; 
    padding: 5%;
  }