<img src="../../assets/benefits-moldova.jpg" alt="">
<br>
<br>
<div class="container">
  <p>
    The biogas plants will improve the local ecological situation through processing of widely spread, unused and polluting bio
    waste from agriculture, industry and households.
  </p>
  <br>
  <p>
    Amongst other goals, the first and main benefit is the additional income for the medium sized farmer. Supposing a rural enterprise
    producing pork, cattle, chicken or processing significant amounts of soya, sorghum, wine, for instance, this company
    can transform the waste from production into electricity and heating.
  </p>
  <p>
    An example for Moldova is the campaign of medium sized farmers from Kassel region, Germany, in 2011 to 2013, promoting 12
    plants to be set up by the farmers themselves. The outcome has been an increase of the profits per farm by 60 %.
  </p>
  <p>
    Since this revenue is produced by waste and allows strong benefits for the nature and the country, in general, there is no
    opportunity cost. This means that the additional income widens the national economy of Moldova and allows the by far
    strongest impulses of development by generating huge amounts of additional income sources for the degraded rural area
    of Moldova making Moldova more stable and independent.
  </p>
  <br>
  <div class="row">
    <div class="col-sm-2">
      Improvement of the environment (air, underground waters and rivers)
    </div>

    <div class="col-sm-2">
      Balancing the internal electricity grid
    </div>
    <div class="col-sm-2">
      The decentralized investments allows local dynamics of further business and employment through creating additional working
      places
    </div>
    <div class="col-sm-2">
      Improvement of National Economy of Moldova through additional incomes for medium sized farmers, additional incomes in state
      budget and enhancement of the rural economic and social development
    </div>
    <div class="col-sm-2">
      The rest from the processing can and has to be used as natural fertilizer since it smells better and is much more positive
      for agriculture and nature;
    </div>
  </div>
  <br>
  <p>
    <b>Moldova may provide its energy security, strengthening its independence as a country and achieve the millennium goals
      of lower emissions and climate protection.
    </b>
  </p>
  <table class="grid-detail">
    <tr>
      <td>
        <p style="font-size: 30px">Energy Change in Moldova</p>
        <p>
          From activities of the Federal German Ministries of Economics and Technology (BMWi), Environment (BMUB) and Development (BMZ),
          since 2010, a comprehensive cooperation has grown between Moldova and Germany for the transfer of best practices
          of the decentralized German energy change. What has been the paradigm of nuclear power for the German energy change,
          this is the paradigm of Gazprom in Moldova. Support for this economical and development oriented partnership is
          received on the communal level of North Hesse (towns of Wolfhagen and Kassel) and on the Federal level of promotional
          projects of the above mentioned ministries. Another important promotion source are members of the board of
        </p>
      </td>

    </tr>
  </table>
</div>