.containers {
    margin-left: 3%;
    
  }
  nav {
    background-color: grey;
  }
  li {
    margin-top: 1%;
    color: white;
  }

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 5px;
    border: 1px solid transparent;
}