<mat-toolbar *ngIf="!logged">
  <a [routerLink]="['login']">
    <button mat-raised-button><mat-icon>portrait</mat-icon>Login</button>
  </a>
  <a [routerLink]="['biomass-owners']">
    <button mat-raised-button>Biomass Owners</button>
  </a>
  <a [routerLink]="['biomass-type']">
    <button mat-raised-button>Biomass Type</button>
  </a>
  <a [routerLink]="['biowaste-data']">
    <button mat-raised-button>Biowaste Data</button>
  </a>
  <a [routerLink]="['help']">
    <button mat-raised-button><mat-icon>help</mat-icon>Help</button>
  </a>
</mat-toolbar>
<mat-toolbar *ngIf="logged">
    
    <a [routerLink]="['biomass-owners']">
      <button mat-raised-button>Biomass Owners</button>
    </a>
    <a [routerLink]="['biomass-type']">
      <button mat-raised-button>Biomass Type</button>
    </a>
    <a [routerLink]="['biowaste-data']">
      <button mat-raised-button>Biowaste Data</button>
    </a>
    <a [routerLink]="['help']">
      <button mat-raised-button><mat-icon>help</mat-icon>Help</button>
    </a>
  </mat-toolbar>

<router-outlet></router-outlet>