<img width="100%" height="100%" src="../../assets/caseStudy.JPG" alt="">
<br>
<br>
<br>


<div class="container">
    <div class="row" >
        <div class="col-sm-8" style="background-color:#e5fad1;">
        <p translate="case_study-text1">
            Anenii Noi produces half of the animals and meet for the market of Moldova. 
        </p>
        <br>
        <p translate="case_study-text2">
            The involved companies do not use their biomass (excrements, bones, waste)
            for fertilization and transformation into electricity and heating, yet.
            Some initial projects of biogas factories and some disperse such applications in the entire rayon (county)
            could substitute up to 50 % of the imported natural gas within 10 years. 
            This is a volume of yearly 7,5 mill € of additional income for the national and regional economy.
        </p>
        <br>
        <p translate="case_study-text3">
            The volume of investment will be between 15 mill € and several hundred of mill €, 
            in the medium an long term. The willingness of reforms on the macro-level and in the markets of energy 
            and its decentralisation has to be strong and perseverant, anyway.
        </p>
        <br>
        <p translate="case_study-text4">
            Though the entire investment program takes 10 years and more,
             we will concentrate on the four years of this rayon government. 
             Following we name the measures to be taken and the stages of action.
        </p>
        </div>
        <div class="col-sm-4">
        <img src="../../assets/regionMap.JPG" alt="">
        </div>
  </div>
</div>