<br>
<br>
<div class="signin-content">
  <mat-card>
    <mat-toolbar color="primary">
      <h2>
        <p translate="register-comp-text1">Registration</p>
      </h2>
    </mat-toolbar>
    <hr>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

        <mat-form-field class="full-width-input">
          <mat-label translate="register-comp-text10">Username</mat-label>
          <input matInput formControlName="userName" required>
          <div class="alert alert-danger" *ngIf="isFieldInvalid('userName')" translate="register-comp-text11">
            Please enter your user name!
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label translate="register-comp-text12">Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <div class="alert alert-danger" *ngIf="isFieldInvalid('password')" translate="register-comp-text13">
            Please enter your password!
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label translate="register-comp-text14">Confirm password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
          <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MatchPassword" translate="register-comp-text15">
            Password not match</div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label translate="register-comp-text16">Email</mat-label>
          <input matInput type="email" formControlName="userEmail" required>
          
          <div class="alert alert-danger" *ngIf="isFieldInvalid('userEmail')" translate="register-comp-text17">
            Please enter your Email address!
          </div>
        </mat-form-field>

        <a routerLinkActive="active" [routerLink]="['/biodeseuri/new-energy-from-waste/login']">
          <button mat-button>
            <span translate="register-comp-button2">back</span>
          </button>
        </a>

        <button mat-raised-button color="accent" type="submit">
          <span translate="register-comp-button">Register</span>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>