<div>
  <img class="imgProcedure" src="../../assets/procedureAndService.JPG" alt="">
</div>


<br>
<br>
<br>


<div class="container">
  <div>
    <div class="row">
      <div class="col-sm-6">
        <p>Stația de biogaz (instalația constituie din construcții și utilaje) este numai o partea a stației. Este riscant de
          comandat un pachet de utilaje livrate de furnizor (la cheie), deoarece productivitatea stației depinde foarte mult
          de meniul ales și echilibrarea acesteia. Acest lucru depinde de inteligența operării, care este afacerea noastră
          de bază: rentabilitate prin productivitate
          <br> Consorțiul nostru operează în Germania 250 de stații de biogaz. Cele dezvoltate și operate de noi sunt cele mai
          productive. Partenerul nostru MRK consultă băncile atunci, când stațiile construite la cheie nu aduc profit.
        </p>
        <p>
          1) Stația de biogaz este bazată pe un tip de materie primă (monofermentare), excremente de porci, 28 m3/t de biogaz.
        </p>
        <p>
          2) Stația de biogaz este bazată pe două tipuri de materie primă: Excremente de porci (28 m3/t) și siloz de iarbă (190 m3/t)
        </p>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/circularOrganic.JPG" alt="">
      </div>
    </div>
    <br>
    <br>
    <div>
      <img src="../../assets/pig.JPG" alt="">
            &nbsp;&nbsp;&nbsp;
          <span style="font-size: 69px">
             1<2
            </span>
             &nbsp;&nbsp;&nbsp;
          <span>
            <img src="../../assets/pig2.JPG" alt="">
          </span>
    </div>


    <br>
    <br>
    <br>


    <div class="row" style="background-color:#e5fad1;">
      <div class="col-sm-8">
        <img src="../../assets/biogasProcess.JPG" alt="">
      </div>
      <div class="col-sm-4">
        <p style="font-size: 30px">
          ATTENTION
        </p>
        <p>
          Ce este o stație de biogaz?
        </p>
        <p>
          1. Ea consumă deșeurile și nu folosește culturi agriole și produse alimentare și este un plus pentru mediu și pentru dezvoltarea
          durabilă a afacerilor agricole, deoarece generează profituri suplimentare.
        </p>
        <br>
        <p>
          2. Funcționează ca un stomac care are nevoie de o dieta echilibrată (tipul de deșeuri principal, plus co-substraturi adiționale,
          care echilibrează pH-ul a deșeurilor și mărește cantitatea biogazului produs)
        </p>
        <br>
        <p>
          3. Stația este echilibrată, în cazul în care bacteriile sunt alimentate într-un mod lin (nici prea multe calorii nici prea
          puține), iar acest lucru depinde de managementul zilnic.
        </p>
        <br>
        <p>
          4. Stația absoarbe doar deșeuri organice, cu excepția deșeurilor lemnoase.
        </p>
      </div>
    </div>


    <br>
    <br>


    <div class="row">
      <div class="col-sm-6">
        <p style="font-size: 30px">
          LIST OF RELEVANT SUBRATES
        </p>
        <br>
        <p>
          The substrates are measured with their contribution to the fermentation process. Depending on the incorporated water, the
          caloric value is quite different. Any modern biogas plant needs a diverse and near mass of costless biowaste. Though
          showing the diversity and variety of substances, this diagram does not show the equilibrium needed between caloric
          and acid ingredients and the hard requirement of nearness (or missing transport cost).
        </p>
      </div>
      <div class="col-sm-4">
        <img src="../../assets/biogasProduction.JPG" alt="">
      </div>
    </div>
  </div>