<button mat-mini-fab (click)="sidenav.toggle()" matTooltip="Map Options">
  <mat-icon>apps</mat-icon>
</button>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" >
 <h2>In development!</h2>
  </mat-sidenav>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)='onChoseLocation($event)'>
    <div *ngFor="let i of localOwnerLocations">
      <agm-marker *ngIf="i.active" [latitude]="i.latitude" [longitude]="i.longitude"></agm-marker>
    </div>
  </agm-map>
 
</mat-sidenav-container>