<div>
    <p align="right" style="font-size:12px; margin-top:10px;margin-right:10px">ALPHA VERSION</p>
 
  <nav class="navbar  navbar-static-top" role="navigation">
      <div class="containers">
        <div class="navbar-header" style="background-color: black">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                        <span style="background-color: white" class="sr-only">Toggle navigation</span>
                        <span style="background-color: white" class="icon-bar"></span>
                        <span style="background-color: white" class="icon-bar"></span>
                        <span style="background-color: white" class="icon-bar"></span>
                    </button>
        </div>
    
        <div class="collapse navbar-collapse" id="navbar1">
           
          <ul class="nav navbar-nav">
             <li><img  src="../assets/biodeseuri.jpg" alt="" ></li>
              <li class="nav-listItems" routerLinkActive="active"><a [routerLink]="['/biodeseuri']" translate="Intro"> INTRO </a></li>
              <li class="nav-listItems" routerLinkActive="active"><a [routerLink]="['/biodeseuri/benefits-for-moldova']" translate="Benefits"> BENEFITS FOR MOLDOVA </a></li>
              <li class="nav-listItems" routerLinkActive="active"><a [routerLink]="['/biodeseuri/procedure-and-services-for-farmers']" translate="Procedure_and_services"> PROCEDURE AND SERVICES FOR FARMERS </a></li>
              <li class="nav-listItems" routerLinkActive="active"><a [routerLink]="['/biodeseuri/new-energy-from-waste']" translate="New_energy"> NEW ENERGY FROM WASTE </a></li>
              <li class="nav-listItems" routerLinkActive="active"><a [routerLink]="['/biodeseuri/case-study']" translate="Case_study"> CASE STUDY </a></li>
              <li class="nav-listItems"><button mat-mini-fab (click)="switchLanguage(switchLang =! switchLang)">{{langName}}</button></li>
              
          </ul>
        </div>
      </div>
    </nav>
     <router-outlet></router-outlet>
</div>