 .containers {
    margin-left: 8%;
    
  }
  a {
    color: black;
    font-weight: bold;
  }
  .nav-listItems {
    margin-top: 3%;
  }
  .navbar {
    position: relative;
    
    margin-bottom: 0.1%;
    
}