.logo {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;    
  }
  .containers {
    margin-left: 8%;
    
  }
  a {
    color: black;
    font-weight: bold;
  }
  .nav-listItems {
    margin-top: 3%;
  }