<h1>
  In development!
</h1>
<mat-toolbar color="primary">
  <h2>
    <mat-icon color="accent">create</mat-icon>
    <span translate="new_energy-waste-dataEntry-header">Waste data entry</span>
  </h2>
</mat-toolbar>
<form #dataEntryForm="ngForm">
  <div class="example-container">
    <hr>
      <mat-form-field *ngIf="role =='ROLE_OWNER'">
        <input matInput hidden
               [(ngModel)]="data.wasteOwner" 
                name="wasteOwner" #wasteOwner="ngModel" maxlength="32" >
      </mat-form-field>
     
      <mat-form-field *ngIf="role =='ROLE_ADMIN'">
        <mat-label >Waste owner</mat-label>
        <mat-select [(ngModel)]="data.wasteOwnerId" 
                    name="wasteOwnerId" 
                    #wasteOwnerId="ngModel"
                    required >
            <div [hidden]="wasteOwnerId.valid || wasteOwnerId.pristine" class="alert alert-danger" >
                 Waste Owner is required!
            </div>
            <mat-option >--</mat-option>
            <mat-option *ngFor="let wo of wasteOwnerList" value="{{wo.id}}"
             (click)="selectLocation(wo.id)">
             {{wo.name}} {{wo.surName}}, {{wo.address}}</mat-option>
          
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <mat-label >Waste Location</mat-label>
          <mat-select [(ngModel)]="data.wasteLocationId"
                      name="wasteLocationId" 
                      #wasteLocationId="ngModel"
                      required >
              <div [hidden]="wasteLocationId.valid || wasteLocationId.pristine" class="alert alert-danger" >
                Waste Location is required!
              </div>
              <mat-option >--</mat-option>
              <mat-option *ngFor="let wol of wasteOwnerLocationList" value="{{wol.id}}" >{{wol.description}}</mat-option>
              
            </mat-select>
          </mat-form-field>

        <mat-form-field >
          <mat-label >Waste type</mat-label>
          <mat-select [(ngModel)]="data.wasteTypeId"
                      name="wasteTypeId" 
                      #wasteTypeId="ngModel"
                      required >
              <div [hidden]="wasteTypeId.valid || wasteTypeId.pristine" class="alert alert-danger" >
                Waste Type is required!
              </div>
              <mat-option >--</mat-option>
              <mat-option *ngFor="let wt of WasteTypeList" value="{{wt.id}}" >{{wt.wasteType}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Amount (*in kg)</mat-label>
            <input matInput 
                   [(ngModel)]="data.amount" 
                   name="amount" #amount="ngModel" type="number"
                   required >
          </mat-form-field>
          <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
            Amount is required!
          </div>
          <div>
              <mat-form-field style="width: 48%">
              <mat-label>Choose a validity from</mat-label>
            <input matInput
                   [(ngModel)]="data.validityDateStart" 
                   name="validityDateStart" 
                   #validityDateStart="ngModel"
                  [matDatepicker]="validityDateStart" >
            <mat-datepicker-toggle matSuffix [for]="validityDateStart"></mat-datepicker-toggle>
            <mat-datepicker #validityDateStart ></mat-datepicker>
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field style="width: 48%">
              <mat-label>Choose a validity to</mat-label>
            <input matInput
                   [(ngModel)]="data.validityDateEnd"
                    name="validityDateEnd" 
                    #validityDateEnd="ngModel"
                   [matDatepicker]="validityDateEnd">
            <mat-datepicker-toggle matSuffix [for]="validityDateEnd"></mat-datepicker-toggle>
            <mat-datepicker #validityDateEnd  ></mat-datepicker>
          </mat-form-field>
        </div>

</div>
      <div mat-dialog-actions align="end">
        <button color="accent" [disabled]="!dataEntryForm.form.valid" mat-raised-button [mat-dialog-close]="true" (click)="SaveAndClose()">
          <mat-icon>done</mat-icon>
        </button>
        &nbsp; &nbsp;
        <button color="warn" mat-raised-button (click)="onNoClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
</form>