<mat-toolbar color="primary">
  <h2>
    <mat-icon color="accent">create</mat-icon>
    <span translate="new_energy-waste-dataEntry-header">Waste data entry</span>
  </h2>
</mat-toolbar>
<form #dataEntryForm="ngForm">
  <div class="example-container">
    <hr>
        <mat-checkbox *ngIf="data?.edit" [checked]="data?.localWasteDataEntry.expired" 
                      [(ngModel)]="data?.localWasteDataEntry.expired"
                      name="expired"
                      #expired="ngModel">
             <span translate="new_energy-expired">
               Expired
            </span>
        </mat-checkbox>
        <br>
      
    <!-- If waste owner is logged in this field is populated and hidden and waste owner can automaticly choose his locations-->
      <mat-form-field *ngIf="role =='ROLE_WASTE_OWNER'">
        <input matInput hidden
               [(ngModel)]="data?.localWasteDataEntry.wasteOwnerId" 
                name="wasteOwnerId" #wasteOwnerId="ngModel" maxlength="32" >
      </mat-form-field>
     <!-- if admin or content manager is logged in then drop down list is showed.Then he can choose to which owner he can add waste input-->
      <mat-form-field *ngIf="role =='ROLE_ADMIN' || role == 'ROLE_CONTENT_MNGR'">
        <mat-label translate="new_energy-waste-owner-header">Waste owner</mat-label>
        <mat-select [(ngModel)]="data?.localWasteDataEntry.wasteOwnerId" 
                    name="wasteOwnerId" 
                    #wasteOwnerId="ngModel"
                    required >
            <div [hidden]="wasteOwnerId.valid || wasteOwnerId.pristine" class="alert alert-danger"
            translate="new_energy-form-req-waste-owner" >
                 Waste Owner is required!
            </div>
            <mat-option >--</mat-option>
            <mat-option *ngFor="let wo of wasteOwnerList" value="{{wo.id}}"
             (click)="selectLocation(wo.id)">
             {{wo.name}} {{wo.surName}}, {{wo.address}}</mat-option>
          
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <mat-label translate="new_energy-location">Waste Location</mat-label>
          <mat-select [(ngModel)]="data?.localWasteDataEntry.wasteLocationId"
                      name="wasteLocationId" 
                      #wasteLocationId="ngModel"
                      required >
              <div [hidden]="wasteLocationId.valid || wasteLocationId.pristine" class="alert alert-danger" 
              translate="new_energy-form-req-waste-location">
                Waste Location is required!
              </div>
              <mat-option >--</mat-option>
              <mat-option *ngFor="let wol of wasteOwnerLocationList" value="{{wol.id}}" >{{wol.description}}</mat-option>
              
            </mat-select>
          </mat-form-field>

        <mat-form-field >
          <mat-label translate="new_energy-waste-type-header">Waste type</mat-label>
          <mat-select [(ngModel)]="data?.localWasteDataEntry.wasteTypeId"
                      name="wasteTypeId" 
                      #wasteTypeId="ngModel"
                      required >
              <div [hidden]="wasteTypeId.valid || wasteTypeId.pristine" class="alert alert-danger"
              translate="new_energy-form-req-type" >
                Waste Type is required!
              </div>
              <mat-option >--</mat-option>
              <mat-option *ngFor="let wt of WasteTypeList" value="{{wt.id}}" ><span *ngIf="Language == 'en'"> {{wt.wasteType.en}}</span>  <span *ngIf="Language == 'ro'">{{wt.wasteType.ro}} </span></mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label ><span translate="new_energy-amount">Amount</span> (*in kg)</mat-label>
            <input matInput 
                   [(ngModel)]="data?.localWasteDataEntry.amount" 
                   name="amount" #amount="ngModel" type="number" min="0"
                   required >
          </mat-form-field>
          <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger"
          translate="new_energy-form-req-waste-amount">
            Amount is required!
          </div>
          <div>
              <mat-form-field style="width: 48%">
              <mat-label translate="new_energy-valid-from"> validity from</mat-label>
            <input matInput
                   [(ngModel)]="data?.localWasteDataEntry.validityDateStart" 
                   name="validityDateStart" 
                   #validityDateStart="ngModel"
                  [matDatepicker]="validityDateStart" disabled>
            <mat-datepicker-toggle matSuffix [for]="validityDateStart"></mat-datepicker-toggle>
            <mat-datepicker #validityDateStart disabled="false" ></mat-datepicker>
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field style="width: 48%">
              <mat-label translate="new_energy-expire-date">Expire date</mat-label>
            <input matInput
                   [(ngModel)]="data?.localWasteDataEntry.validityDateEnd"
                    name="validityDateEnd" 
                    [min]="data?.localWasteDataEntry.validityDateStart"
                    #validityDateEnd="ngModel"
                   [matDatepicker]="validityDateEnd" disabled>
            <mat-datepicker-toggle matSuffix [for]="validityDateEnd"></mat-datepicker-toggle>
            <mat-datepicker #validityDateEnd disabled="false" ></mat-datepicker>
          </mat-form-field>
        </div>

</div>
      <div mat-dialog-actions align="end">
        <button color="accent" [disabled]="!dataEntryForm.form.valid" mat-raised-button [mat-dialog-close]="true" (click)="SaveAndClose()">
          <mat-icon>done</mat-icon>
        </button>
        &nbsp; &nbsp;
        <button color="warn" mat-raised-button (click)="onNoClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
</form>