<mat-toolbar color="primary">
  <h2>
    <mat-icon color="accent">create</mat-icon>
    <span translate="new_energy-user-header">User</span>
  </h2>
</mat-toolbar>
<form #newUserForm="ngForm">
  <div class="example-container">
    <hr>
      <mat-form-field >
        <mat-label translate="new_energy-username">Username</mat-label>
        <input matInput 
               [(ngModel)]="data?.localUser.userName" 
               [disabled]="!data?.enableUsername" 
               name="userName" #userName="ngModel" maxlength="32"
              required >
      </mat-form-field>
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger" 
          translate="new_energy-form-req-username">
          UserName is required!
      </div>
      <!-- Here is checked if role option should be shown -->
      <mat-form-field *ngIf="!data?.localUser.showRole && data?.localUser.role == 'ROLE_ADMIN' ">
        <mat-label translate="new_energy-role">Role</mat-label>
        <mat-select [(ngModel)]="data?.localUser.role"
                    [disabled]="data?.localUser.role == 'ROLE_WASTE_OWNER' || data?.localUser.role == 'ROLE_WASTE_USER' || data?.localUser.role == 'ROLE_CONTENT_MNGR'"   
                    name="role" 
                    #role="ngModel"
                    required >
            <div [hidden]="role.valid || role.pristine" class="alert alert-danger" 
                 translate="new_energy-form-req-role">
                Role is required!
            </div>
            <mat-option >--</mat-option>
            <mat-option value="ROLE_ADMIN"><span translate="new_energy-role-admin">ADMINISTRATOR</span></mat-option>
            <mat-option value="ROLE_CONTENT_MNGR"><span translate="new_energy-role-manager">CONTENT MANAGER</span></mat-option>
            <mat-option disabled [hidden]="true" value="ROLE_WASTE_OWNER">ROLE_WASTE_OWNER</mat-option>
            <mat-option disabled [hidden]="true" value="ROLE_WASTE_USER">ROLE_WASTE_USER</mat-option>
          </mat-select>
        </mat-form-field>
    <mat-form-field>
      <mat-label translate="new_energy-password">Password</mat-label>
      <input matInput type="password" 
             [(ngModel)]="data?.localUser.password" 
              name="password" #password="ngModel" minlength="8" maxlength="32" 
              required >
    </mat-form-field>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger"
          translate="new_energy-form-req-password">
     Password is required!
    </div>
    <mat-form-field>
      <mat-label translate="new_energy-confirmPassword">Confirm Password</mat-label>
      <input matInput type="password" 
            [(ngModel)]="data?.localUser.Confirmpassword"
            name="Confirmpassword" 
            #password="ngModel" maxlength="32" 
            required>
    </mat-form-field>
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger" 
         translate="new_energy-form-req-confirmPassword">
      Password  mismatch!
    </div>  
    <hr>
  </div>
  <div mat-dialog-actions align="end">
    <button color="accent" [disabled]="!newUserForm.form.valid" 
            mat-raised-button [mat-dialog-close]="true" 
           (click)="SaveAndClose()">
      <mat-icon>done</mat-icon>
    </button>
    &nbsp; &nbsp;
    <button mat-raised-button color="warn" (click)="onNoClick()" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
  </div>
</form>